# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/reference/*
!data/raw/.gitkeep
!data/processed/.gitkeep

results/
src/archive_legacy/models/*

# Models
models/*.pkl
models/*.joblib

# Reports
reports/*.html
reports/*.pdf

# System
.DS_Store
Thumbs.db